html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.app-bar {
    width: 100%;
    background-color: #f4e04d;
}

.setup-complete {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #faf4f4;
}