html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.app-bar {
    width: 100%;
    background-color: #f4e04d;
}

.setup-complete {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #faf4f4;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

button {
    margin: 1em;
    height: 50px;
    font-family: 'Lato', sans-serif;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
}

#btn-notify {
    background-color: #844685;
    color: #ffffff;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
    /* Hide by Default. Only enabled if ServiceWorker is available */
    display: none;
}

#btn-push {
    background-color: #efb1ff;
}